<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/call_us.svg" alt="Telefonhívás a fotelból" width="100%"/>
    </div>
    <div class="col-md-6 d-flex flex-column">
      <h2>Hívj minket azonnal!</h2>
      <p>Hívj minket a fotel kényelméből és bízd a szakértelmünkre a többit!
        Kényelmes, gyors, és garantáltan profi!
        Csak egy hívás, és mi gondoskodunk mindenről, hogy tiszta és rendezett környezet várjon rád.
        Több száz elégedett ügyfél, évek tapasztalata, és maximális elhivatottság: ránk bízhatod magad!
        Hívj, és már indulunk is!</p>
      <a href="tel:+36703883360" class="mt-auto mb-0 text-decoration-none text-black">
        <h1 class="mb-0">+36 70 388 3360</h1>
      </a>
    </div>
  </div>
</div>
