<div class="container-fluid bg-dark text-white py-5 border-top">
  <footer class="d-flex flex-column align-items-center">
    <p class="mb-0">© {{ thisYear }} MAT -  Minden Ami Takarítás Kft.</p>
    <div class="d-flex flex-row">
      <p class="mb-0">Megtalálsz minket a <a href="https://www.facebook.com/mindenamitakaritas.hu/" class="inline-link">Facebookon</a> is.</p>
    </div>
    <p class="text-white mb-0">A weboldalt <a href="https://galkristof.eu/" class="text-white">Gál Kristóf</a> fejlesztette.</p>
  </footer>
</div>
