<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 py-2">
  <img src="assets/images/matlogo.png" alt="Minden Ami Takarítás Kft. Logo" class ="logo"/>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Rólunk</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Szolgáltatások
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ul class="dropdown-category">
            <p>Category A</p>
            <li><a class="dropdown-item" href="#">Takarítás</a></li>
            <li><a class="dropdown-item" href="#">Zöldterület</a></li>
            <li><a class="dropdown-item" href="#">Havária/Rendkívüli</a></li>
            <li><a class="dropdown-item" href="#">Mobil Mosás Mentés</a></li>
            <li><a class="dropdown-item" href="#">Síkosság-mentesítés</a></li>
          </ul>
          <ul class="dropdown-category">
            <p>Category B</p>
            <li><a class="dropdown-item" href="#">Speciális felületek tisztítása</a></li>
            <li><a class="dropdown-item" href="#">Bútorszállítás, költöztetés</a></li>
            <li><a class="dropdown-item" href="#">Lomtalanítás</a></li>
            <li><a class="dropdown-item" href="#">Irodák/üzletek irodaszer ellátása</a></li>
            <li><a class="dropdown-item" href="#">Dekorálás</a></li>
            <li><a class="dropdown-item" href="#">Kivitelezés/karbantartás</a></li>
          </ul>
      </ul>
      <li class="nav-item">
        <a class="nav-link" href="#">Galéria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kapcsolat</a>
      </li>
    </ul>
  </div>
</nav>
