<div class="container mt-5">
  <h1 class="text-center">Galéria</h1>
  <p class="text-center">Az elmúlt években elég sok helyen jártunk már és igyekeztük ezt dokumentálni.
   <br/>A galériában csak és kizárólag saját munkák találhatóak!</p>

  <div class="gallery row">
    <div class="gallery-image col-12 col-sm-6 col-md-4">
      <img src="https://mmm.mindenamitakaritas.hu/images/mmm-4.jpg"/>
    </div>
    <div class="gallery-image col-12 col-sm-6 col-md-4">
      <img src="https://mmm.mindenamitakaritas.hu/images/mmm-1.jpg"/>
    </div>
    <div class="gallery-image col-12 col-sm-6 col-md-4">
      <img src="https://mmm.mindenamitakaritas.hu/images/mmm-2.jpg"/>
    </div>
    <div class="gallery-image col-12 col-sm-6 col-md-4">
      <img src="https://mmm.mindenamitakaritas.hu/images/mmm-3.jpg"/>
    </div>
    <div class="gallery-image col-12 col-sm-6 col-md-4">
      <img src="https://mmm.mindenamitakaritas.hu/images/mmm-5.jpg"/>
    </div>
    <div class="gallery-image col-12 col-sm-6 col-md-4">
      <img src="https://mmm.mindenamitakaritas.hu/images/mmm-6.jpg"/>
    </div>
    <div class="gallery-image col-12 col-sm-6 col-md-4">
      <img src="https://mmm.mindenamitakaritas.hu/images/mmm-4.jpg"/>
    </div>
    <div class="gallery-image col-12 col-sm-6 col-md-4">
      <img src="https://mmm.mindenamitakaritas.hu/images/mmm-1.jpg"/>
    </div>
    <div class="gallery-image col-12 col-sm-6 col-md-4">
      <img src="https://mmm.mindenamitakaritas.hu/images/mmm-2.jpg"/>
    </div>
    <div class="gallery-image col-12 col-sm-6 col-md-4">
      <img src="https://mmm.mindenamitakaritas.hu/images/mmm-3.jpg"/>
    </div>
  </div>
</div>
