<div class="container-fluid position-relative my-5">
  <app-divide-curve></app-divide-curve>
  <div class="container content">
    <h1>Szolgáltatásaink</h1>
    <h3>Válassz egy szolgáltatást!</h3>

    <div class="row">
      <div class="col-sm-3 col-md-12 col-xl-6">
        <app-service-card icon="fa-vacuum" title="Takarítás"></app-service-card>
      </div>
      <div class="col-sm-3 col-md-12 col-xl-6">
        <app-service-card icon="fa-flower" title="Zöldterület"></app-service-card>
      </div>
      <div class="col-sm-3 col-md-12 col-xl-6">
        <app-service-card icon="fa-garage-car" title="Garázstakarítás"></app-service-card>
      </div>
      <div class="col-sm-3 col-md-12 col-xl-6">
        <app-service-card icon="fa-exclamation-square" title="Havária/Rendkívüli"></app-service-card>
      </div>
      <div class="col-sm-3 col-md-12 col-xl-6">
        <app-service-card icon="fa-snowplow" title="Síkosság-mentesítés"></app-service-card>
      </div>
      <div class="col-sm-3 col-md-12 col-xl-6">
        <app-service-card icon="fa-truck-moving" title="Logisztika"></app-service-card>
      </div>
      <div class="col-12">
        <app-service-card icon="fa-plus-square" title="Extra szolgáltatások"></app-service-card>
      </div>
    </div>
  </div>
  <app-divide-curve position="bottom"></app-divide-curve>
</div>
