@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=RocknRoll+One&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1{
  font-family: "RocknRoll One", "Helvetica Neue", sans-serif;
  font-size:3.2rem;
}
p{
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}
